name: Build

on:
  push:
    branches: [ master, develop ]

jobs:
  build:

    runs-on: macos-26

    steps:
    - uses: actions/checkout@v4

    - name: Verify Xcode version
      run: xcodebuild -version

    - name: Build
      run: swift build

    - name: Test
      run: |
        swift test --enable-code-coverage
        xcrun llvm-cov export -format="lcov" .build/debug/DLogPackageTests.xctest/contents/macos/DLogPackageTests -instr-profile .build/debug/codecov/default.profdata -ignore-filename-regex='Tests' -ignore-filename-regex='Net' > info.lcov

    - name: Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
